<div class="form-group">
    <label for="email">Email</label>
    <input name="email" class="form-control" placeholder="john.doe@gmail.com" value="{{user.email}}" />
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" value="{{user.password}}" />
</div>